In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mount Gambier,AU,2021-03-21 22:04:27,-37.8333,140.7667,64.40,94,75,10.36
1,1,Okakarara,NaN,2021-03-21 22:04:27,-20.5833,17.4333,67.33,85,96,1.86
2,2,Atuona,PF,2021-03-21 22:04:28,-9.8000,-139.0333,80.02,77,3,12.71
3,3,Sorland,NO,2021-03-21 22:04:28,67.6670,12.6934,24.80,100,75,2.30
4,4,Rikitea,PF,2021-03-21 22:04:28,-23.1203,-134.9692,80.42,69,12,7.40

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [14]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [19]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable, center + zoom
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [24]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Atuona,PF,2021-03-21 22:04:28,-9.8000,-139.0333,80.02,77,3,12.71
4,4,Rikitea,PF,2021-03-21 22:04:28,-23.1203,-134.9692,80.42,69,12,7.40
6,6,Vaini,TO,2021-03-21 22:04:29,-21.2000,-175.2000,82.40,83,75,4.61
11,11,Angoche,MZ,2021-03-21 22:04:30,-16.2325,39.9086,79.39,81,100,5.12
19,19,Caravelas,BR,2021-03-21 22:04:32,-17.7125,-39.2481,76.51,83,49,5.41
25,25,Harper,LR,2021-03-21 22:03:01,4.3750,-7.7169,79.79,87,41,9.69
26,26,Gandorhun,SL,2021-03-21 22:04:33,7.5000,-11.8333,75.18,85,59,3.15
31,31,Avarua,CK,2021-03-21 22:04:35,-21.2078,-159.7750,78.80,89,75,6.91
32,32,Alyangula,AU,2021-03-21 22:04:35,-13.8483,136.4192,82.20,78,97,5.75
33,33,Ambulu,ID,2021-03-21 22:04:35,-8.3450,113.6058,77.18,89,76,2.37

In [25]:
preferred_cities_df.count()

City_ID       157
City          157
Country       156
Date          157
Lat           157
Lng           157
Max Temp      157
Humidity      157
Cloudiness    157
Wind Speed    157
dtype: int64

In [35]:
preferred_cities_df=preferred_cities_df.dropna(0)

In [36]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [37]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
2      Atuona      PF     80.02  -9.8000 -139.0333
4     Rikitea      PF     80.42 -23.1203 -134.9692
6       Vaini      TO     82.40 -21.2000 -175.2000
11    Angoche      MZ     79.39 -16.2325   39.9086
19  Caravelas      BR     76.51 -17.7125  -39.2481
25     Harper      LR     79.79   4.3750   -7.7169
26  Gandorhun      SL     75.18   7.5000  -11.8333
31     Avarua      CK     78.80 -21.2078 -159.7750
32  Alyangula      AU     82.20 -13.8483  136.4192
33     Ambulu      ID     77.18  -8.3450  113.6058

In [40]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [43]:
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng              Hotel Name
2      Atuona      PF     80.02  -9.8000 -139.0333             Villa Enata
4     Rikitea      PF     80.42 -23.1203 -134.9692          Pension Maro'i
6       Vaini      TO     82.40 -21.2000 -175.2000     Keleti Beach Resort
11    Angoche      MZ     79.39 -16.2325   39.9086      Guest House HESADA
19  Caravelas      BR     76.51 -17.7125  -39.2481  Pousada dos Navegantes
25     Harper      LR     79.79   4.3750   -7.7169             Screensaver
26  Gandorhun      SL     75.18   7.5000  -11.8333
31     Avarua      CK     78.80 -21.2078 -159.7750            Paradise Inn
32  Alyangula      AU     82.20 -13.8483  136.4192    Groote Eylandt Lodge
33     Ambulu      ID     77.18  -8.3450  113.6058     Hotel Ambulu Jember

In [45]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))